
body{
  margin:0%;
  background: linear-gradient(rgb(248, 248, 248),#80c9eb);
}

 html{
	scroll-behavior: smooth;
}
.navigimi{
  box-sizing: border-box;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 16px 104px;
	background:#fff;
	z-index: 100000;
  border-bottom: 1px solid #2e2b29;
  height: 80px;
}

#linqet_e_navigimit{
  margin:0%;
  padding: 0%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#linqet_e_navigimit li{
	list-style: none;
	padding-right:  30px;
}
#linqet_e_navigimit li a{
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	color:#070606;
	padding: 10px 10px;
	font-family: Candara Light;
	cursor: pointer;
}

#linqet_e_navigimit li a:hover{
	color: #3a3838;
	border-bottom: 5px solid#3536368e;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius:8px; 
	border-right: 1px solid#3536368e;
	border-top: 1px solid #3536368e;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-left: 1px solid#3536368e;
	transition: all 0.1s ease 0.1s;
}
#linqet_e_navigimit li a:active{
	border-bottom: 1px solidd#3536368e;
	background-color: #f0eae6;
}

.button11 {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #0505058e;
  margin: 20px 20px 20px 20px;
  color:#0707078e;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.button11 a{
  color: #0000008e;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
}
#button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-5 a {
  position: relative;
  transition: all .45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: #000000;
  position: absolute;
  transition: all .3s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #ffffff;
}

#bar{
	color:#ff5733;
	display: none;
}
  
  .main
{
    width:100%;
    height:100vh;
    background-image:url("../images/albania.jpg");
    background-size:cover;
    background-position:center;
    position:relative;
    overflow:hidden;
  
  }
  #albania{
    width:96%;
    margin: auto;
  }
    
  .content1{
    color:#ffff;
    position:absolute;
    top:50%;
    left:10%;
    
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
  
  }
  
  
  
  .lista  {
     border:2px ;
     border-style:dashed;
     margin-top: 20px;
     margin-left: 5px;
     margin-right: 50px;
     background-color:lightcyan;
  }
      .slider{
        width:800px;
        height:500px;
        border-radius: 10px;
        overflow: hidden;
        margin-left:25%;
      }
  .slides{
    width: 500%;
    height:500px;
    display: flex;
  }
  .slides input{
    display:none;
  }
  .slide{
    width: 20%;
  transition: 3s;
  }
  
  .slide img{
    width:800px;
    height:500px;
  }
  .navigation-manual{
  position:absolute;
  width:800px;
  margin-top:-40px;
  display: flex;
  justify-content: center;
  }
  .manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor:pointer;
  transition:1s;
  }
  
  .manual-btn:not(:last-child)
  {
  margin-right:40px;
  }
  .manual-btn:hover{
  background :#40D3DC;
  
  }
  #radio1:checked ~ .first{
  margin-left: 0;
  }
  #radio2:checked ~ .first{
  margin-left: -20%;
  }
  #radio3:checked ~ .first{
  margin-left: -40%;
  }
  #radio4:checked ~ .first{
  margin-left: -60%;
  }
  
  .navigation-auto{
  position: absolute;
  display:flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
  }
  .navigation-auto div{
  border:2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
  
  }
  .navigation-auto div:not(:last-child){
  margin-right:40px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
  background:#40D3DC ;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
  background:#40D3DC ;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
  background:#40D3DC ;
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
  background:#40D3DC ;
  }
  
  .unordered  {
  list-style-type:upper-roman;
  }
  ul ul{
  list-style-type: square;
  }
  li{
  color:#343fe4
  }
  li li{
  color:rgb(0, 0, 0);
  }
  .list{-webkit-column-count: 3;/* Chrome, Safari, Opera */ 
  -moz-column-count: 3;/* Firefox */
  column-count: 3;
          
    -webkit-column-rule-style: solid; 
  -moz-column-rule-style: solid;
  column-rule-style: solid;
          
    -webkit-column-rule-width: 2px;
  -moz-column-rule-width: 2px; 
  column-rule-width: 2px;
          
    -webkit-column-rule-color:pink; 
  -moz-column-rule-color: pink; 
  column-rule-color: pink;
  
  
            }
            
            table#t1 {
              max-width: 70%;
              border: 1px solid #ddd;
    }
            #gradient1{
                width: 250px;
                background: -webkit-linear-gradient(left,pink,lightcyan);
                background: linear-gradient(left,pink,lightcyan);
            }
            #gradient2{
                width: 250px;
              
                background: -webkit-radial-gradient(pink,lightcyan);
                background: radial-gradient(pink,lightblue);
            }
            #gradient3{
                width:250px;
               
                
                background: -webkit-linear-gradient(seagreen,rgb(122, 61, 81));
                background: linear-gradient(pink,lightblue);
            }  
  
  
            .cities {
              width: 96%;
              height: 600px;
              /*background: red;*/
              margin: 100px auto;
            }
            .cities .upper{
              width: 100%;
              height: 60%;
              
              justify-content: space-around;
              display: flex;
            }
            .cities .upper div{
              width: 25%;
             
              
            }
            .cities .upper div img{
              width: 100%;
              height: 200px;
            }
 
            .last{
              width: 90%;
              height: 900px;
              margin: 50px auto;
              display: flex;
              justify-content: space-around;
            }
            
            .last .left{
              width: 60%;
              height: 100%;
              height: auto;
              height: 100%;
            }
            .last img{
              width: 40%;
              height: 100%;
            }
            .last .left .last3{
              display: flex;
              justify-content: space-around;
              margin: 10px auto;
            }
            .last .left .last3 img{
              width: 40%;
              margin: 5%;
              height: 200px;
            }
            .last .left .last3 div{
              width: 40%;
              margin: 5%;
            }


.box {
  margin-top: 100px;
  margin-bottom: 150px;
   position: relative;
   left:50%;
   width:200px;
   height:200px;
   transform-style: preserve-3d;
   animation: animate 20s linear infinite;
 } 
@keyframes animate
{
  0%
  {
    transform: perspective(1000px) rotateY(0deg);
  }
  100%
  {
    transform: perspective(1000px) rotateY(360deg);

  }

}

 .box span {
position: absolute;
top:0%;
left:0%;
width:100%;
height:100%;
transform-origin: center;
transform-style: preserve-3d;
transform: rotateY(calc(var(--i)*45deg))translateZ(400px);

}
 .box span img {
  position: absolute;
  top:0;
  left:0;
  widows:100%;
  height:100%;
  object-fit: cover;
 } 


  .seasons p{
  font-family: cursive;
  text-align: center;
  font-size: 1em;
  font-weight: normal;

}
 .seasons .button 
 {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #7aa8b7;
  border-radius: 6px;
  outline: none;
  margin-left: 50%;
 }
 
 footer{
  background-color: #998c85;
  line-height: 24px;
  color:white;
}

.art{
  background-color: #171819;
  padding: 16px;
  padding-top: 48px;
  clip-path: polygon(0% 5%,15% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.content{
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 16px;
}

footer header{
  font-size: 25px;
  padding:16px;
}

.content a{
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding: 16px;
  color: white;
  opacity: 0.65;
}

.content a:hover{
  opacity: 1;
  color: #998c85;
  font-size: 17px;
  transition: all 0.3s ease 0s;
}

footer input{
  border-style: solid;
  line-height: 24px;
  padding: 12px 16px;
  font-size: 1rem;
  width:80%;
  margin:8px;
  border-radius: 8px;
  border-width: 2px;
}
footer input[type='mail']{
  background-color: transparent;
  border-color: white;
  color: white;
}

footer input[type='mail']:hover,
footer input[type='mail']:focus{
  border-color:#ffff00; 
  color: #ffff00;
  transition: all 0.3s ease 0s;
}


footer a {
	text-decoration: none;
	margin: 0%;
	padding: 0%;
  }

.social{
  margin:16px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 16px;
}

.social i{
  font-size: 32px;
  padding: 8px;
  text-align: center;
  border:1px solid #ffff0031;
  border-radius: 8px;
  width: 100%
}
.social a{
text-decoration: none;
margin: 0%;
padding: 0%;
  }

.social i:hover{
  color:#ffff00;
  border-color: #ffff00;
  box-shadow: 0px 0px 16px inset #ffff0031;
  transition: all 0.3s ease 0s;
}
.notice{
  text-align: center;
  padding: 24px;
}

.notice strong{
  color:red;
  text-transform: uppercase;
}

  @media screen and (max-width: 1300px){
	.navigimi{
	padding: 16px 50px;
	}

	#linqet_e_navigimit li{
		padding-right:  5px;
	}
	#linqet_e_navigimit li a{
		font-size: 14.4px;
	}
	#linqet_e_navigimit .ikona a{
		padding-right: 0px;
		margin-right: 0px;
	}
} 

@media screen and (max-width: 1024px){
	.navigimi{
	padding: 16px 50px;
	}

	#linqet_e_navigimit li{
		padding-right:  5px;
	}
	#linqet_e_navigimit li a{
		font-size: 14.4px;
	}
	#linqet_e_navigimit .ikona a{
		padding-right: 0px;
		margin-right: 0px;
	}
} 

@media screen and (max-width: 991px){
	.navigimi{
	padding: 16px 48px;
	}
	.navigimi h2{
		font-size: 25.6px;
	}
	#linqet_e_navigimit{
		flex-direction: column;
		text-align: center;
		width: 300px;
		height: 100vh;
		position: fixed;
		top: 24px;
		right: -300px;
		background-color: rgba(0,0,0,0.8);
		z-index: 100000;
		margin-top: 67.2px;
		transition: 0.5s;
	}

	#linqet_e_navigimit li{
		padding-right:  0;
		padding: 20px 0;
	}
	#linqet_e_navigimit li a{
		font-size: 19.2px;
		color: white;
		border:2px solid white;
	}
	#linqet_e_navigimit .ikona{
		padding-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	#linqet_e_navigimit .ikona a{
		padding: 20px 20px 15px 15px;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
	}

	#bar{
		display: initial;
		cursor: pointer;
	}
	

}
@media screen and (max-width: 768px){
	.navigimi h2{
		font-size: 24px;
	}
	.prapavija{
		background-position: center;
	}
}

@media screen and (max-width: 1300px) {
    .navigimi {
        padding: 16px 50px;
    }
    #linqet_e_navigimit li {
        padding-right: 5px;
    }
    #linqet_e_navigimit li a {
        font-size: 14.4px;
    }
    #linqet_e_navigimit .ikona a {
        padding-right: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 1300px){
	.navigimi{
	padding: 16px 50px;
	}

	#linqet_e_navigimit li{
		padding-right:  5px;
	}
	#linqet_e_navigimit li a{
		font-size: 14.4px;
	}
	#linqet_e_navigimit .ikona a{
		padding-right: 0px;
		margin-right: 0px;
	}
} 

@media screen and (max-width: 1024px){
	.navigimi{
	padding: 16px 50px;
	}

	#linqet_e_navigimit li{
		padding-right:  5px;
	}
	#linqet_e_navigimit li a{
		font-size: 14.4px;
	}
	#linqet_e_navigimit .ikona a{
		padding-right: 0px;
		margin-right: 0px;
	}
} 

@media screen and (max-width: 991px){
	.navigimi{
	padding: 16px 48px;
	}
	.navigimi h2{
		font-size: 25.6px;
	}
	#linqet_e_navigimit{
		flex-direction: column;
		text-align: center;
		width: 300px;
		height: 100vh;
		position: fixed;
		top: 24px;
		right: -300px;
		background-color: rgba(0,0,0,0.8);
		z-index: 100000;
		margin-top: 67.2px;
		transition: 0.5s;
	}

	#linqet_e_navigimit li{
		padding-right:  0;
		padding: 20px 0;
	}
	#linqet_e_navigimit li a{
		font-size: 19.2px;
		color: white;
		border:2px solid white;
	}
	#linqet_e_navigimit .ikona{
		padding-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	#linqet_e_navigimit .ikona a{
		padding: 20px 20px 15px 15px;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
	}

	#bar{
		display: initial;
		cursor: pointer;
    }
}
@media screen and (max-width: 768px){
	.navigimi h2{
		font-size: 24px;
	}
	.prapavija{
		background-position: center;
    }
}
