@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: linear-gradient(#fff,#B6E9FF);
}

html {
    scroll-behavior: smooth;
}

.navigimi {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 104px;
    background: #fff;
    z-index: 100000;
    border-bottom: 1px solid #2e2b29;
}

#linqet_e_navigimit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#linqet_e_navigimit li {
    list-style: none;
    padding-right: 30px;
}

#linqet_e_navigimit li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #423e3c;
    padding: 10px 10px;
    border-top: 3px solid #2e2b29;
    border-radius: 50px;
}

#linqet_e_navigimit li a:hover {
    color: #1c1b1a;
    cursor: pointer;
    border-bottom: 5px solid #2e2b29;
    background-color: #f0eae6;
    transition: all 0.1s ease 0.1s;
}

#linqet_e_navigimit li a:active {
    border-bottom: 1px solid #2e2b29;
    background-color: #f0eae6;
}

#linqet_e_navigimit .ikona {
    padding-left: 50px;
}

#linqet_e_navigimit .ikona a {
    text-decoration: none;
    font-weight: 600;
    color: #f13a11;
    padding: 10px 10px;
    border-top: 2px solid #2e2b29;
    border-bottom: 2px solid #2e2b29;
    margin-right: 30px;
    text-transform: uppercase;
}

#linqet_e_navigimit .ikona a:hover {
    border-radius: 12px;
    transition: all 0.3s ease 0s;
}

#bar {
    color: #ff5733;
    display: none;
}

.main {
    padding-top: 120px;
    height: 580px;
    background-image: url("plane.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.contenth1{
    text-align: center;
    color: white;
    padding-top: 80px;
}
.contenth1 h1{
    font-size: 110px;
    font-family: 'Indie Flower', cursive;
}
.contenth1 p{
    font-size: 30px;
    font-style: italic;
    font-family: 'Indie Flower', cursive;
}

/*--Places--*/

.canada{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 80px;
}
.canada p{
    margin: auto;
    font-size: 40px;
    color: #171819;
    font-weight: normal;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
}
#places{
    width: 100%;
    padding: 70px 0;
}
.contenth2{
    text-align: center;
    padding-bottom: 10px;
    margin-top: 50px;
}
.contenth2 p{
    margin: auto;
    font-size: 25px;
    color: #171819;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Indie Flower', cursive;
}
.contenth3{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
.contenth3 p{
    font-family: 'Indie Flower', cursive;
}
.places{
    flex-basis: 50%;
}
.places h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Indie Flower', cursive;
}
.contenth-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contenth-text p{
    padding: 0 20px;
    text-align: initial;
}
table{
    width: 100%;
    /*border-spacing: 40px;*/
}
th{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
table, th, td{
    border: 1px solid #171819;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
}
.contenth-img{
    flex-basis: 50%;
    margin: auto;
}
.contenth-img img{
    width: 70%;
    border-radius: 10px;
}

/*--Places2--*/

#places2{
    width: 100%;
    padding: 70px 0;
}
.contenth4{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 80px;
}
.contenth4 p{
    margin: auto;
    font-size: 40px;
    color: #171819;
    font-weight: normal;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
}
.contenth5{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
.contenth5 p{
    font-family: 'Indie Flower', cursive;
}
.places2{
    flex-basis: 50%;
}
.places2 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Indie Flower', cursive;
}
.contenth2-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contenth2-text p{
    padding: 0 20px;
    text-align: initial;
}
.table{
    width: 100%;
    /*border-spacing: 40px;*/
}
.th{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.table, th, td{
    border: 1px solid #171819;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
}
.contenth2-img{
    flex-basis: 50%;
    margin: auto;
}
.contenth2-img img{
    width: 70%;
    border-radius: 10px;
}

/*--Places3--*/

#places3{
    width: 100%;
    padding: 70px 0;
}
.contenth6{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 80px;
}
.contenth6 p{
    margin: auto;
    font-size: 40px;
    color: #171819;
    font-weight: normal;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
}
.contenth7{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
.contenth7 p{
    font-family: 'Indie Flower', cursive;
}
.places3{
    flex-basis: 50%;
}
.places3 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Indie Flower', cursive;
}
.contenth3-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contenth3-text p{
    padding: 0 20px;
    text-align: initial;
}
.table{
    width: 100%;
    /*border-spacing: 40px;*/
}
.th{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.table, th, td{
    border: 1px solid #171819;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
}
.contenth3-img{
    flex-basis: 50%;
    margin: auto;
}
.contenth3-img img{
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

/*--Places4--*/

#places4{
    width: 100%;
    padding: 70px 0;
}
.contenth8{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 80px;
}
.contenth8 p{
    margin: auto;
    font-size: 40px;
    color: #171819;
    font-weight: normal;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
}
.contenth9{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
.contenth9 p{
    font-family: 'Indie Flower', cursive;
}
.places4{
    flex-basis: 50%;
}
.places4 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Indie Flower', cursive;
}
.contenth4-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contenth4-text p{
    padding: 0 20px;
    text-align: initial;
}
.table{
    width: 100%;
    /*border-spacing: 40px;*/
}
.th{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.table, th, td{
    border: 1px solid #171819;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
}
.contenth4-img{
    flex-basis: 50%;
    margin: auto;
}
.contenth4-img img{
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

/*--Places5--*/

#places5{
    width: 100%;
    padding: 70px 0;
}
.contenth10{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 80px;
}
.contenth10 p{
    margin: auto;
    font-size: 40px;
    color: #171819;
    font-weight: normal;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
}
.contenth11{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
.contenth11 p{
    font-family: 'Indie Flower', cursive;
}
.places5{
    flex-basis: 50%;
}
.places5 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Indie Flower', cursive;
}
.contenth5-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contenth5-text p{
    padding: 0 20px;
    text-align: initial;
}
.table{
    width: 100%;
    /*border-spacing: 40px;*/
}
.th{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.table, th, td{
    border: 1px solid #171819;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
}
.contenth5-img{
    flex-basis: 50%;
    margin: auto;
}
.contenth5-img img{
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

/*--Places6--*/

#places6{
    width: 100%;
    padding: 70px 0;
}
.contenth12{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 80px;
}
.contenth12 p{
    margin: auto;
    font-size: 40px;
    color: #171819;
    font-weight: normal;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
}
.contenth13{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
.contenth13 p{
    font-family: 'Indie Flower', cursive;
}
.places6{
    flex-basis: 50%;
}
.places6 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Indie Flower', cursive;
}
.contenth6-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contenth6-text p{
    padding: 0 20px;
    text-align: initial;
}
.table{
    width: 100%;
    /*border-spacing: 40px;*/
}
.th{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.table, th, td{
    border: 1px solid #171819;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
}
.contenth6-img{
    flex-basis: 50%;
    margin: auto;
}
.contenth6-img img{
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

/*--Places7--*/

#places7{
    width: 100%;
    padding: 70px 0;
}
.contenth14{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 80px;
}
.contenth14 p{
    margin: auto;
    font-size: 40px;
    color: #171819;
    font-weight: normal;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
}
.contenth15{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
.contenth15 p{
    font-family: 'Indie Flower', cursive;
}
.places7{
    flex-basis: 50%;
}
.places7 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Indie Flower', cursive;
}
.contenth7-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contenth7-text p{
    padding: 0 20px;
    text-align: initial;
}
.table{
    width: 100%;
    /*border-spacing: 40px;*/
}
.th{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.table, th, td{
    border: 1px solid #171819;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
}
.contenth7-img{
    flex-basis: 50%;
    margin: auto;
}
.contenth7-img img{
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

/*--Places8--*/

#places8{
    width: 100%;
    padding: 70px 0;
}
.contenth16{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 80px;
}
.contenth16 p{
    margin: auto;
    font-size: 40px;
    color: #171819;
    font-weight: normal;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
}
.contenth17{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
.contenth17 p{
    font-family: 'Indie Flower', cursive;
}
.places8{
    flex-basis: 50%;
}
.places8 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Indie Flower', cursive;
}
.contenth8-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contenth8-text p{
    padding: 0 20px;
    text-align: initial;
}
.table{
    width: 100%;
    /*border-spacing: 40px;*/
}
.th{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.table, th, td{
    border: 1px solid #171819;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
}
.contenth8-img{
    flex-basis: 50%;
    margin: auto;
}
.contenth8-img img{
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

/*--Places9--*/

#places9{
    width: 100%;
    padding: 70px 0;
}
.contenth18{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 80px;
}
.contenth18 p{
    margin: auto;
    font-size: 40px;
    color: #171819;
    font-weight: normal;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
}
.contenth19{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
.contenth19 p{
    font-family: 'Indie Flower', cursive;
}
.places9{
    flex-basis: 50%;
}
.places9 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Indie Flower', cursive;
}
.contenth9-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contenth9-text p{
    padding: 0 20px;
    text-align: initial;
}
.table{
    width: 100%;
    /*border-spacing: 40px;*/
}
.th{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.table, th, td{
    border: 1px solid #171819;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
}
.contenth9-img{
    flex-basis: 50%;
    margin: auto;
}
.contenth9-img img{
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

/*--Places10--*/

#places10{
    width: 100%;
    padding: 70px 0;
}
.contenth20{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 80px;
}
.contenth20 p{
    margin: auto;
    font-size: 40px;
    color: #171819;
    font-weight: normal;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
}
.contenth21{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
.contenth21 p{
    font-family: 'Indie Flower', cursive;
}
.places10{
    flex-basis: 50%;
}
.places10 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Indie Flower', cursive;
}
.contenth10-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contenth10-text p{
    padding: 0 20px;
    text-align: initial;
}
.table{
    width: 100%;
    /*border-spacing: 40px;*/
}
.th{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.table, th, td{
    border: 1px solid #171819;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
}
.contenth10-img{
    flex-basis: 50%;
    margin: auto;
}
.contenth10-img img{
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

/*--Places11--*/

#places11{
    width: 100%;
    padding: 70px 0;
}
.contenth22{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 80px;
}
.contenth22 p{
    margin: auto;
    font-size: 40px;
    color: #171819;
    font-weight: normal;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
}
.contenth23{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
.contenth23 p{
    font-family: 'Indie Flower', cursive;
}
.places11{
    flex-basis: 50%;
}
.places11 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Indie Flower', cursive;
}
.contenth11-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contenth11-text p{
    padding: 0 20px;
    text-align: initial;
}
.table{
    width: 100%;
    /*border-spacing: 40px;*/
}
.th{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.table, th, td{
    border: 1px solid #171819;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
}
.contenth11-img{
    flex-basis: 50%;
    margin: auto;
}
.contenth11-img img{
    width: 70%;
    height: 500px;
    border-radius: 10px;
}
