@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
html{
	scroll-behavior: smooth;
}

.navigimi{
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 16px 104px;
	background:#fff;
	z-index: 100000;
	border-bottom: 1px solid #2e2b29;
}

#linqet_e_navigimit{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#linqet_e_navigimit li{
	list-style: none;
	padding-right:  30px;
}
#linqet_e_navigimit li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color:#423e3c;
	padding: 10px 10px;
	border-top: 3px solid #2e2b29;
	border-radius: 50px;
}

#linqet_e_navigimit li a:hover{
	color: #1c1b1a;
	cursor: pointer;
	border-bottom: 5px solid #2e2b29;
	background-color: #f0eae6;
	transition: all 0.1s ease 0.1s;
}
#linqet_e_navigimit li a:active{
	border-bottom: 1px solid #2e2b29;
	background-color: #f0eae6;
}
#linqet_e_navigimit .ikona{
	padding-left: 50px;
}
#linqet_e_navigimit .ikona a{
	text-decoration: none;
	font-weight: 600;
	color:#f13a11;
	padding: 10px 10px;
	border-top: 2px solid #2e2b29;
	border-bottom: 2px solid #2e2b29;
	margin-right: 30px;
	text-transform: uppercase;
}
#linqet_e_navigimit .ikona a:hover{
	border-radius: 12px;
	transition: all 0.3s ease 0s;
}

#bar{
	color:#ff5733;
	display: none;
}

.prapavija{
	background-image: url(suitcase.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	z-index: -1;
}

.prapavija .prapavija1{
	background:#171819;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}
.klasa1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.klasa1 p{
	color:#7f8c8d;
	font-size: 20.8px;
	font-weight: 700;
	margin-bottom: 22.4px;
}

.klasa1 h2{
	color:#fff;
	font-size: 48px;
}

.klasa1 .linqe{
	margin-top: 20px;

}

.klasa1 .linqe a{
	text-decoration: none;
	text-transform: uppercase;
}

.klasa1 .linqe a.simple{
	color:#fff;
	font-weight: 700;
	padding: 14.4px 25.6px;
}

.klasa1 .linqe a.simple:hover{
	color:#ff5733;
	font-weight: 780;
	transition: all 0.3s ease 0s;
}

.klasa1 .linqe a.border{
	color:#ff5733;
	border:1px solid #ff5733;
	font-weight: 500;
	padding: 14.4px 25.6px;
	border-radius: 3px;
}

.klasa1 .linqe a.border:hover{
	background-color: #fff;
	border:1px solid #fff;
	font-weight: 700;
	transition: all 0.3s ease 0s;
}

.Te_dhena{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 128px 240px;
	background-color: #171819;
}

.Te_dhena h3,h6,h5{
	color:#fff;
}

.Te_dhena .one{
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.Te_dhena .one h3{
	font-size: 40px;
	padding-bottom: 17.6px;
}

.Te_dhena .one h6{
	font-size: 20.8px;
	font-weight: 400;
	padding-bottom: 19.2px;
}

.Te_dhena .one p{
	color:#666262;
	font-size: 19.2px;
	padding-bottom: 48px;
}
.Te_dhena .one a{
	color:#fff;
	background-color: #f13a11;
	padding: 16px 0;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.Te_dhena .one a:hover{
	background-color: #fff;
	color:#f13a11;
	transition: all 0.3s ease 0s;
	font-weight: 600;
}
.Te_dhena .two{
	width: 45%;
	border-left: 1px solid #666262;
	padding-left: 64px;
}

.Te_dhena .two h3{
	font-size: 40px;
}

.Te_dhena .two h5{
	font-size: 17.6px;
}

.Te_dhena .two p{
	font-size: 17.6px;
	color: #666262;
	margin-bottom: 12.8px;
}

.klasa2{
	background-color: #f9f9f9;
	padding: 128px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.klasa2 .about{
	width: 39%;
}
.klasa2 .about h2{
	color:#212529;
	font-size: 33.6px;
	padding-bottom: 28.8px;
}

.klasa2 .about p{
	color:#7f8c8d;
	font-size: 17.6px;
}

.klasa2 .travel{
	width: 57%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.klasa2 .travel .team1{
	width: 45%;
	height: auto;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow:
  0 0px 0.7px rgba(0, 0, 0, 0.233),
  0 0px 1.9px rgba(0, 0, 0, 0.333),
  0 0px 3.8px rgba(0, 0, 0, 0.417),
  0 0px 7.6px rgba(0, 0, 0, 0.517),
  0 0px 21px rgba(0, 0, 0, 0.75)
}

.klasa2 .travel .team1 .img img{
	width: 100%;
	object-fit: cover;
}

.klasa2 .travel .team1 .name, .klasa2 .travel .team1 .pro{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.klasa2 .travel .team1 .name{
	padding: 5px 20px 0 20px;
}
.klasa2 .travel .team1 .teamDetails{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
}

.klasa2 .travel .team1 .name h4{
	color:212529;
	font-size: 24px;
}
.klasa2 .travel .team1 .name i, .klasa2 .travel .team1 .pro i{
	font-size: 20.8px;
	font-weight: bolder;
	cursor: pointer;
	color:212529;
}

.klasa2 .travel .team1 .pro{
	padding: 0 20px 5px 20px;
}

.klasa2 .travel .team1 .pro p{
	color:212529;
}

.class{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 112px 128px;
}

.class .paragraph{
	font-size: 20.8px;
	color:#59a5a6;
	padding-bottom: 6px;
	text-align: center;
}
.class .h2{
	font-size: 35.2px;
	color:#222;
	font-weight: 700;
	padding-bottom: 50px;
	text-align: center;
}
.class .classMenu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.class .classMenu .team1{
	width: 32%;
	height: auto;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow:
  0 0px 0.7px rgba(0, 0, 0, 0.233),
  0 0px 1.9px rgba(0, 0, 0, 0.333),
  0 0px 3.8px rgba(0, 0, 0, 0.417),
  0 0px 7.6px rgba(0, 0, 0, 0.517),
  0 0px 21px rgba(0, 0, 0, 0.75)
}

.class .classMenu .team1 .img img{
	width: 100%;
	object-fit: cover;
}
.class .classMenu .team1 .teamDetails{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
}
.class .classMenu .team1 .teamDetails .name{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 30px 0 30px;
}

.class .classMenu .team1 .teamDetails .name .nameDetalis h4{
	color:#212529;
	font-size: 27.2px;
}

.class .classMenu .team1 .teamDetails .name .nameDetalis p{
	color:#212529;
	font-size: 17.6px;
}

.class .classMenu .team1 .teamDetails .name .nameDetalis p span{
	font-weight: 700;
	font-size: 17.6px;
}

.class .classMenu .team1 .teamDetails .name .num h5{
	font-size: 16px;
	background-color: #f13a11;
	width: 56px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	border-radius: 50%;
}
.class .classMenu .team1 .pro{
	padding: 15px 30px 30px 30px;
}
.class .classMenu .team1 .pro p{
	font-size: 17.6px;
	color: #666262;

}
.kontakt{
	padding: 128px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.kontakt .form{
	width: 45%;
}

.kontakt .form h2{
	font-size: 32px;
	color:#212529;
	padding-bottom: 10px;
	width: 100%;
}
.kontakt .form .submit{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.kontakt .form .submit input, .kontakt .form .submit textarea{
	width: 100%;
	padding: 15px;
	border:1px solid #95a5a6;
	outline: none;
	margin:13px 0;
}

.kontakt .form .submit input:focus, .kontakt .form .submit textarea:focus{
	border:1px solid #111;
}

.kontakt .form .submit input::placeholder{
	color:#7f8c8d;
	font-size: 17.6px;
}
.kontakt .form .submit textarea::placeholder{
	color:#7f8c8d;
	font-size: 17.6px;
	height: 80%;
}

.kontakt .form .submit a{
	width: 100%;
	padding: 15px 0;
	text-decoration: none;
	background-color: #111;
	color:#fff;
	text-align: center;
	font-size: 17.6px;
	margin:13px 0;
}
.kontakt .form .submit a:hover{
	border-bottom: 4px solid red;
	background-color: #111;
	color:#fff;
	font-weight: 600;
	transition: all 0.3s ease 0s;
}

.kontakt .harta{
	width: 45%;
}
.kontakt .harta h2{
	font-size: 32px;
	color:#212529;
	padding-bottom: 10px;
	width: 100%;
}
.kontakt .harta p{
	font-size: 17.6px;
	color:#212529;
	padding-bottom: 30px;
	width: 100%;
}

.kontakt .harta p i{
	color:red;
	padding-right: 4px;
}
.kontakt .harta iframe{
	width: 100%;
}
