@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

body{
  margin: 0px;
}

.divi{
  display: flex;
  margin: auto;
  justify-content: center;
}
.divi p{
  color: #879696;
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
}
.divi ul{
  padding-left: 800px;
}
.divi ul li{
  display: inline-block;
  text-decoration: none;
  padding-right: 20px;
  color: #879696;
  font-family: 'Sansita Swashed', cursive;
}
.divi .fab{
  color: #879696;
  font-size: 20px;
}
.divi .fab:hover{
  color: red;
  cursor: pointer;
}

header{
  margin-top: 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  max-width:100;
  margin: auto;
  height: 60px;
}
.linqet_e_navigimit{
  margin-right: 100px;
}
.linqet_e_navigimit li{
  display: inline-block;
  padding-right: 20px;
  margin: 0px;
  border:0px;
}

.linqet_e_navigimit li a{
  text-decoration: none;
  padding: 8px 16px;
  border-top: 2px solid #3b9cbf;
  border-bottom: 2px solid #3b9cbf;
  border-radius: 8px;
  font-family: 'Source Code Pro', monospace;
  color: #454745;
}

.linqet_e_navigimit li a:hover{
  font-size: 17px;
  color: black;
  border-bottom: 6px solid #3b9cbf;
  transition: all 0.1s ease 0.1s;
}
.linqet_e_navigimit li a:active{
  border-bottom: 6px solid #148f45;
}

.butoni1 button{
  margin-right: 20px;
  height: 40px;
  width: 150px;
  background-color: rgb(59, 156, 191,1);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color:white;

}
.butoni1 button:hover{
  background-color: rgb(255,255,255,1);
  color: black;
}


.img-slider{
  position: relative;
  width: 1024px;
  height: 680px;
  margin: auto;
  background: white;
  margin-top: 30px;
}

.slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.info{
  width: 20%;
  position: absolute;
  bottom: 5px;
  padding: 0px;
  background-color: rgba(95, 104, 117, 0.3);
}


.info p{
  color: #fff;
  font-size: 24px;
  padding: 10px;
  border-radius: 4px;
  margin:auto;
}

.navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.btn{
  background: rgba(245, 0, 212, 1);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.btn.active{
  background: #2696E9;
}

footer{
  background-color: #24aa9444;
  line-height: 24px;
  color:white;
}

.art{
  background-color: #3b9cbf;
  padding: 16px;
  padding-top: 48px;
  clip-path: polygon(0% 5%,15% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.content{
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 16px;
}

footer header{
  font-size: 25px;
  padding:16px;
}

.content a{
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding: 16px;
  color: white;
  opacity: 0.65;
}

.content a:hover{
  opacity: 1;
  color: #ffff00;
  font-size: 18px;
}

footer input{
  border-style: solid;
  line-height: 24px;
  padding: 12px 16px;
  font-size: 1rem;
  width:80%;
  margin:8px;
  border-radius: 8px;
  border-width: 2px;
}
footer input[type='mail']{
  background-color: transparent;
  border-color: white;
  color: white;
}

footer input[type='mail']:hover,
footer input[type='mail']:focus{
  border-color:#ffff00; 
  color: #ffff00;
}

footer input[type='submit']{
  background-color: white;
  color:#24aa94;
  text-transform: uppercase;
  border:none;
}

footer input[type='submit']:hover{
  background-color: #ffff00;
}
.social{
  margin:16px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 16px;
}

.social i{
  font-size: 32px;
  padding: 8px;
  text-align: center;
  border:1px solid #ffff0031;
  border-radius: 8px;
  width: 100%
}

.social i:hover{
  color:#ffff00;
  border-color: #ffff00;
  box-shadow: 0px 0px 16px inset #ffff0031;
}
.notice{
  text-align: center;
  padding: 24px;
}

.notice strong{
  color:#ffff00;
  text-transform: uppercase;
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

.info{
    padding: 10px 25px;
  }

.info h2{
    font-size: 35px;
  }

.info p{
    width: 70%;
    font-size: 15px;
  }

 .navigation{
    bottom: 25px;
  }

  .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}


@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}
