*{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.permbajtja{
    position:relative;
    width:100%;
    height:100vh;
    overflow:auto;
    scroll-snap-type:y mandatory;
  }
 .permbajtja .section2
 {
   position: relative;
   width: 100%;
   height:100%;
   scroll-snap-align: start;
 }
 .permbajtja .section2:nth-child(1)
 {
    background: url(../images/spring.jpg);

       background-size: cover;
   background-attachment: fixed;
 }
 .permbajtja .section2:nth-child(2)
 {
   background: url(../images/Summer1.jpg);
   background-size: cover;
   background-attachment: fixed;
 }
 .permbajtja .section2:nth-child(3)
 {
   background:url(../images/autumn2.jpg);
   background-size: cover;
   background-attachment: fixed;
 }
 .permbajtja .section2:nth-child(4)
 {
   background: url(../images/winter1.jpg);
   background-size: cover;
   background-attachment: fixed;
 }
 .permbajtja .section2 .content11 {
position:absolute;
bottom:50px;
left:50px;
max-width: 700px;
 }

 .permbajtja .section2 .content11 h2
 {background: #fff;
  color:#111;
  font-family: 'Farsan', cursive;

  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  font-size: 2em;
 }
 .permbajtja .section2 .content11 h2 b{
  font-family: 'Farsan', cursive;

 }

 .permbajtja .section2 .content11 p
 { 
   background: #fff;
   font-family: 'Farsan', cursive;
   color:#111;
  font-weight: 300;
  padding: 10px 20px;
  font-size: 1.5em;
margin-top:10px;

 }
