@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

body{
	margin: 0px;
}

.divi{
	display: flex;
	margin: auto;
	justify-content: center;
}
.divi p{
	color: #879696;
	font-size: 20px;
	font-family: 'Sansita Swashed', cursive;
}
.divi ul{
	padding-left: 800px;
}
.divi ul li{
	display: inline-block;
	text-decoration: none;
	padding-right: 20px;
	color: #879696;
	font-family: 'Sansita Swashed', cursive;
}


header{
	margin-top: 10px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 25px;
	max-width:1400px;
	margin: auto;
}
.linqet_e_navigimit li{
	display: inline-block;
	padding: 16px 22px;
	margin-right: 20px;
}

.linqet_e_navigimit li a{
	text-decoration: none;
	padding: 16px 22px;
	margin: 0px;
	border:0px;
	font-family: 'Source Code Pro', monospace;
	font-weight: 800;
	color: #f0673c;
}

.linqet_e_navigimit li a:hover{
	background-color: #f2f2e9;
	color: #ff5722;
	border-bottom: 4px solid #ff5722;
	transition: all 0.4s ease 0.1s;
}
.linqet_e_navigimit li a:active{
	border-bottom: 6px solid #ff5722;
}

.butoni1 button{
	padding: 16px 20px;
	background-color: rgb(25,105,79,1);
	border:none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	font-family: "Montserrat",sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	color:white;
	margin-right: 60px;

}
.butoni1 button:hover{
	background-color: rgb(255,255,255,1);
	color: black;
}


article.night p{
	color: white;
}

article.night h3 {
	color: #8bc34a;
}

.article1 {
	width: 29%;
	float: left;
	text-align: center;
	padding: 2%;
	transition: all 0.2s ease-in-out;
}

.article1 h3 {
	font-family: niramit;
	color: #0070c9;
}

.article1 p {
	font-family: niramit;
	color: black;
	font-weight: bold;
}

.article1:hover {
	transform: scale(1.1);
	background-color: rgba(235, 235, 235, 0.63);
	border-top: groove;
}

.img-slider{
  position: relative;
  width: 1400px;
  height: 800px;
  margin: auto;
  background: white;
  margin-top: 30px;
}

.slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.info h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.btn.active{
  background: #2696E9;
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

.info{
    padding: 10px 25px;
  }

.info h2{
    font-size: 35px;
  }

.info p{
    width: 70%;
    font-size: 15px;
  }

 .navigation{
    bottom: 25px;
  }

  .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}
.fab{
	color: #879696;
	font-size: 20px;
}
.fab:hover{
	color: red;
	cursor: pointer;
}